$module: 'wrapper';


#head{
    .logo{

    }
}

.#{$module_header}__content {
    background: white;
}

.#{$module}__meta {
    background: #f1f1f1;
    border-top: 1px solid #eee;
}

.#{$module}--featured {

    .#{$module}__meta {
        background: pink;
    }
}
